mixin createForm(id, title, action, method="POST",frmField1, msg)
    .ui.inverted.left.aligned.segment
        h2=title
        form.ui.huge.form(action=action method=method id="f1")
               
                .field
                        input(type='text' name=frmField1 placeholder=frmField1 id=frmField1)
                p=msg
                button.ui.primary.submit.huge.button(id=id) Submit